/**
* File Name  : registration-style
* Description : css to design the registration-form
* Created date : 14/01/2019
* Author  : Md Wasif Ali
* Comments : 
*/

body{
	font-size:120%;
	background-color:#CCCCCC;

}
/* a class to design the header of the form */
.header{
	//margin: 20px 0px 0px 20px;
	margin: auto;
	width:26%;
	color:#FFFFFF;
	background-color:#663366;
	text-align:center;
	border-radius: 10px 10px 0px 0px;
	padding:20px;
}
/* a class to dsign for the rest of the form*/
.body{
	//margin: 0px 0px 0px 20px;
	margin: auto;
	width:26%;
	padding:20px;
	border-radius:0px 0px 10px 10px;
	background-color:#FFFFFF;
}
.table {
	float: right;
}

.input label{
	display:block;
	text-align:left;
}
.form-control {
	border-radius:5px;
	border: none;
	width:93%;
	padding:5px 10px;
	font-size:16px;
	
}

.box{
	width:90%;
	font-size:16px;
	border-radius:5px;
	border: 1px solid gray;
}
/*a class to design the button */
.btn{
	padding:10px;
	font-size:16px;
	color:#FFFFFF;
	background-color:#663366;
	border:none;
	border-radius:5px;
}
/* to add scroll bar in text area*/
textarea{
    overflow-y:scroll;
}
table {
  border-collapse: collapse;
  width: 100%;
}

td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
th {
  text-align: center;
}
tr:hover {
	background-color:#f5f5f5;
	cursor:pointer;
}
#btn{
	    margin: 5px;
}
#mandatory{
	color: red;
}

.error {
  color: red;
}
